.NavBar {
	position: sticky;
	top: 0;
	&__container {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(-225deg, #d29ed5, #b32525);
	}
	&__container-logo {
		margin: 0;
	}
	&__nav-items {
		> div {
			display: inline-block;
			margin: 0 5px;
			padding: 0 10px;
		}
	}
}
